<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width" />-->
    <title>卸辊记录-床数据采集发送系统</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon"/>
<!--    @*1、Jquery组件引用*@-->
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/message.js"></script>

<!--    @*2、bootstrap组件引用*@-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>

<!--    @*3、bootstrap table组件以及中文包的引用*@-->
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table-fixed-columns.css">
    <script src="../static/js/bootstrap-table.min.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="../static/js/tableExport.min.js"></script>
    <script src="../static/js/bootstrap-table-export.js"></script>
    <script src="../static/js/bootstrap-table-fixed-columns.js"></script>
<!--    @*4、Jquery mloading 组件引用*@-->
    <link rel="stylesheet" href="../static/css/jquery.mloading.css">
    <script src="../static/js/jquery.mloading.js"></script>
</head>
<body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header" style="height: 60px; position: relative; margin: 0; padding: 0;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="#">
                    <img alt="Brand" src="../static/img/logo2.png" title="Buy Sell Rent Everyting" style="max-width:250px;margin-top:-8px;">
              </a>
              <a class="navbar-brand" href="#" style="padding-top: 20px; padding-bottom: 10px; height: 28px; color: #080808" >磨床数据采集发送系统</a>
          </div>
          <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse" >
              <ul class="nav navbar-nav" style="padding-top: 4px; padding-bottom: 10px; height: 28px;">
                <li><a href="from.html">磨削记录</a> </li>
                <li class="active"><a href="index.html">卸辊记录</a> </li>
                <li><a href="uproll.html">装辊记录</a> </li>
                <li><a href="supplement.html">补录</a></li>
                <li><a href="send_record.html">发送记录</a> </li>
              </ul>
              <ul class="nav navbar-nav navbar-sub  pull-right" style="padding-top: 4px; padding-bottom: 0; height: 28px;">
                <li><a href="#">Register</a> </li>
                <li><a href="#">Login</a> </li>
              </ul>
          </div>
      </div>
    </nav>
    <!-- 搜索栏 -->
    <nav class="navbar " style="text-align: center;">
        <div  class="navbar-form " role="search">
            <div class="form-group " >
<!--                <input type="text" class="form-control" placeholder="Search">             -->
                <lable>机架号:</lable>
                <select id="nav_frame_id" class="form-control" >
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option> </option>
                </select>
                <lable>轧辊类型:</lable>
                <select id="nav_roll_type" class="form-control"  >
                    <option>W</option>
                    <option>M</option>
                    <option>B</option>
                    <option> </option>
                </select>
                <lable>开始时间:</lable>
                <input type="datetime-local" step="1" class="start-time"  id="s_time" />
                <lable>结束时间:</lable>
                <input type="datetime-local" step="1" class="end-time" id="e_time"/>
<!--                <input type="submit" value="提交" ></input>-->
                <input type="text" class="form-control" placeholder="轧辊号查询" id="Search_roll_nm">
                <button id="send" class="btn btn-default">搜索</button>
            </div>
        </div>
    </nav>
    <div style="width: 80%;margin: auto  auto auto auto">
        <div class="pull-left" style="padding-top: 10px">
         <span id="exportToolbar" style="display: inline-block" class="btn-group">
             <select id="sel_exportoption" class="form-control">
                 <option value="">导出当前页数据</option>
                 <option value="selected">导出选中数据</option>
             </select>
         </span>
        </div>
        <table id="tabledata" class="table table-striped" ></table>
    </div>
    <!-- COLLAPSIBLE NAVBAR -->


<script type="text/javascript">

    $("#sel_exportoption").change(function () {
    //刷新参数设置
        $('#tabledata').bootstrapTable('refreshOptions', {
            exportDataType: $(this).val()
        });
    });

//返回开始时间
    function StartTime()
    {
        var now = new Date();

        var year = now.getFullYear();       //年
        var month = now.getMonth() + 1;     //月
        var day = now.getDate();            //日


        var clock = year + "-";

        if(month < 10)
            clock += "0";

        clock += month + "-";

        if(day < 10)
            clock += "0";

        clock += day + "T";

        clock += "00:00:00";
        return(clock);
    }
//返回结束日期
    function EndTime()
    {
        var now = new Date();

        var year = now.getFullYear();       //年
        var month = now.getMonth() + 1;     //月
        var day = now.getDate();            //日

        var hh = now.getHours();            //时
        var mm = now.getMinutes();          //分
        var ss = now.getSeconds() ;         //秒


        var clock = year + "-";

        if(month < 10)
            clock += "0";

        clock += month + "-";

        if(day < 10)
            clock += "0";

        clock += day + "T";

        if(hh < 10)
            clock += "0";

        clock += hh + ":";

        if (mm < 10)
            clock += '0';

        clock += mm + ":";

        if (ss < 10)
            clock += '0';

        clock += ss ;

        return(clock);
    }
    //时间初始化
    $(function(){

       $('#s_time').val(StartTime())
    });
    $(function(){

       $('#e_time').val(EndTime())
    });

      function updata() {
        console.log("Search_roll_nm="+$("#Search_roll_nm").val());
        var ROLL_NM = '';
        var str = $("#Search_roll_nm").val();
        if (str === '' || str === undefined || str == null) {
            //return true;
            console.log('空');
            ROLL_NM = 'null';
        } else {
            //return false;
            console.log('非空');
            ROLL_NM = str;
        }
	    $('#tabledata').bootstrapTable({
        url:'/reload_index',
        queryParams : function(params) {
				return {
					limit: params.limit,
					offset: params.offset,
	               // userName: $.trim( $('#userName').val() ) ,
	               // age: $.trim( $('#age').val() ) ,
                    Franm_Id:$('#nav_frame_id').val(),
                    Roll_Type:$('#nav_roll_type').val(),
                    StartTime:$('#s_time').val(),
                    EndTime:$('#e_time').val(),
                    ROLLNM:ROLL_NM,
				}
			},
		toolbar:'#toolbox',
        fixedColumns: true,
        fixedNumber: 2,
        pagination: true, //前端处理分页
        singleSelect: false, //是否只能单选
        cache: true, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pageNumber: 1, //初始化加载第10页，默认第一页
        pageSize: 10, //每页的记录行数（*）
        pageList: [5, 10, 20, 50, 100, 200 ,500, 1000], //可供选择的每页的行数（*）
		clickToSelect:true,
		sortName: "create_time",
		sortOrder: "desc",
        showColumns: true, //显示内容列下拉框
        minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
        uniqueId: "id", //每一行的唯一标识，一般为主键列
        showToggle: true, //是否显示详细视图和列表视图的切换按钮
        cardView: false, //是否显示详细视图
       // queryParamsType:'limit',
        sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
        showExport: true, //导出按钮
        exportDataType: "selected", //导出表格方式（默认basic：只导出当前页的表格数据；all：导出所有数据；selected：导出选中的数据）
        exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel'], //导出文件类型
        exportOptions: {
            // 导出数据去除第一列出现"on"
            ignoreColumn: [0,13]
        },
		columns: [{
            //#0 选择
                checkbox: true,
                visible: true,
            },{
            //#1 机架号
                title: '机架号',
                field: 'c_frame_id',
                align: 'center',
            },{
            //#2 轧辊类型
                field: 'c_roll_type',
                title: '轧辊类型',
                align: 'center'
            }, {
            //#3 轧辊号
                field: 'c_roll_number',
                title: '轧辊号',
                align: 'center',
            }, {
            //#4 卸辊时间
                field: 'c_down_time',
                title: '卸辊时间',
                align: 'center'
            }, {
            //#5 卸辊班号
                field: 'c_down_cless',
                title: '卸辊班号',
                align: 'center',
            }, {
            //#6 卸辊组号
                field: 'c_down_set',
                title: '卸辊组号',
                align: 'center',
            }, {
            //#7 运行时长
                field: 'c_running_time',
                title: '运行时长',
                align: 'center',
            }, {
            //#8 轧制总长度
                field: 'c_rolling_length',
                title: '轧制总长度',
                align: 'center',
                visible: true,
            }, {
            //#9 轧制总重量
                field: 'c_rolling_weight',
                title: '轧制总重量',
                align: 'center',
            }, {
            //#10 '轧制备注
                field: 'c_product_remark',
                title: '轧制备注',
                align: 'center',
            }, {
            //#11 轧制原因代码
                field: 'c_change_reason',
                title: '轧制原因代码',
                align: 'center',
            }, {
            //#12 轧制事故代号
                field: 'c_accident_coil_No',
                title: '轧制事故代号',
                align: 'center',
            }, {
            //#13 ID
                field: 'id',
                title: 'ID',
                align: 'center',
                visible: false,
            }
        ],

    });

    }


    $(function (){updata()})
    //搜索按钮
    $('#send').click(function(){
        // var s_time = $('#s_time').val();
        // s_time = s_time.replace("T"," ")
        // var e_time = $('#e_time').val();
        // e_time = e_time.replace("T"," ")
        // console.log(s_time)
        // console.log(e_time)
        //
        // var day1 = new Date(s_time);
        // var day2 = new Date(e_time);
        //
        // var difference = (day2 - day1) / (1000 * 60 * 60 * 24)
        // console.log(difference)
        // console.log('搜索');
        // if (difference <= 180 && difference > 0){
        //     $("#tabledata").bootstrapTable('destroy');
        //
        //     updata();
        // }else if (difference > 180){
        //     alert("要求搜索时间范围不超过180天")
        // }else if (difference < 0){
        //     alert("开始时间需要小于结束时间")
        // }
        $("#tabledata").bootstrapTable('destroy');
        updata();

    });



    $(function(){
       $('#s_time').val(StartTime())
    });
    $(function(){
       $('#e_time').val(EndTime())
    });

</script>
</body>
</html>