<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width" />-->
    <title>补录-床数据采集发送系统</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon"/>
<!--    @*1、Jquery组件引用*@-->
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/message.js"></script>

<!--    @*2、bootstrap组件引用*@-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>

<!--    @*3、bootstrap table组件以及中文包的引用*@-->
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table-fixed-columns.css">
    <script src="../static/js/bootstrap-table.min.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="../static/js/tableExport.min.js"></script>
    <script src="../static/js/bootstrap-table-export.js"></script>
    <script src="../static/js/bootstrap-table-fixed-columns.js"></script>
<!--    @*4、Jquery mloading 组件引用*@-->
    <link rel="stylesheet" href="../static/css/jquery.mloading.css">
    <script src="../static/js/jquery.mloading.js"></script>
</head>
<body>
    <!-- 编辑发送 模板类型 -->
    <div class="modal fade" id="myModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑轧辊数据</h4>
            </div>
            <div class="modal-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label id="modal_c_frame_id_label" class="col-sm-2 control-label">机架号</label>
                        <div class="col-sm-3">
                                <select id="modal_c_frame_id" class="form-control" name="c_frame_id" >
                                    <option selected hidden disabled value="">选择机架号</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                        </div>
                        <label id="modal_c_roll_type_label" class="col-sm-2 control-label">轧辊类型</label>
                        <div class="col-sm-3">
                            <select id="modal_c_roll_type" class="form-control" name="c_roll_type" >
                                <option selected hidden disabled value="">选择轧辊类型</option>
                                <option>W:工作辊</option>
                                <option>B:支撑辊</option>
                                <option>M:中间辊</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="modal_c_roll_position_label" class="col-sm-2 control-label">轧辊位置</label>
                        <div class="col-sm-3">
                            <select id="modal_c_roll_position" class="form-control" name="c_roll_position" >
                                <option selected hidden disabled value="">选择轧辊位置</option>
                                <option>U:上辊</option>
                                <option>L:下辊</option>
                            </select>
                        </div>
                        <label id="modal_c_roll_material_label" class="col-sm-2 control-label">轧辊材质</label>
                        <div class="col-sm-3">
                            <select id="modal_c_roll_material" class="form-control" name="c_roll_material" >
                                <option selected hidden disabled value="">选择轧辊材质</option>
                                <option>01:CastSteel</option>
                                <option>02:Ni-Cr</option>
                                <option>03:Hi-Cr</option>
                                <option>04:HSS(高速钢)</option>
                                <option>05:MC5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_c_diameter" class="col-sm-2 control-label">轧辊直径</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" disabled="disabled" id="modal_c_diameter">
                        </div>
                        <label id="modal_c_woolification_label" class="col-sm-2 control-label">是否毛化标记</label>
                        <div class="col-sm-3">
                            <select id="modal_c_woolification" class="form-control" name="c_woolification" >
                                <option selected hidden disabled value="">选择是否毛化标记</option>
                                <option>0:未毛化</option>
                                <option>1:毛化</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_c_crown_value" class="col-sm-2 control-label">凸度值</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control"  id="modal_c_crown_value" value="0000">
                        </div>
                        <label id="modal_c_crown_symbol_label" class="col-sm-2 control-label">凸度正负标记</label>
                        <div class="col-sm-3">
                            <select id="modal_c_crown_symbol" class="form-control" name="c_crown_symbol" >
                                <option selected hidden disabled value="">选择凸度正负标记</option>
                                <option>1:负</option>
                                <option>2:正</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_c_roughness" class="col-sm-2 control-label">粗糙度</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control"  id="modal_c_roughness">
                        </div>
                        <label for="modal_c_do" class="col-sm-2 control-label">表面加工方式</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" disabled="disabled" id="modal_c_do" value="磨削">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_c_side_bearing" class="col-sm-2 control-label">操作侧轴承号</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="modal_c_side_bearing">
                        </div>
                        <label for="modal_c_drive_bearing" class="col-sm-2 control-label">驱动侧轴承号</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="modal_c_drive_bearing">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" disabled="disabled" id="modal_c_id">
                        <input type="hidden" class="form-control" disabled="disabled" id="modal_index">
                        <label for="modal_c_roll_number" class="col-sm-2 control-label">轧辊编号</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" disabled="disabled" id="modal_c_roll_number">
                        </div>
                        <label for="modal_c_pairing_roll" class="col-sm-2 control-label">配对辊号</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="modal_c_pairing_roll">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_c_top_diameter" class="col-sm-2 control-label">锥形顶端直径</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="modal_c_top_diameter">
                        </div>
                        <label for="modal_c_low_diameter" class="col-sm-2 control-label">锥形底端直径</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="modal_c_low_diameter">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_c_cause" class="col-sm-2 control-label">磨削原因</label>
                        <div class="col-sm-3">
                            <select id="modal_c_cause" class="form-control" name="c_roll_position" >
                                <option selected hidden disabled value="">选择磨削原因</option>
                                <option>正常磨削</option>
                                <option>配辊磨削</option>
                                <option>事故加磨</option>
                                <option>断带无伤</option>
                                <option>辊印</option>
                                <option>划痕</option>
                                <option>划伤</option>
                                <option>小片粘钢</option>
                                <option>大片粘钢</option>
                                <option>轧辊烧伤</option>
                                <option>缠钢勒辊</option>
                            </select>
                        </div>
                        <label for="modal_c_result_detection" class="col-sm-2 control-label">探伤结果</label>
                        <div class="col-sm-3">
                            <textarea  type="text" class="form-control" id="modal_c_result_detection"></textarea >
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-sm-7">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="sava-edit-btn">保存</button>
                </div>
                <div class="col-sm-5">
                    <button type="button" class="btn btn-success  glyphicon glyphicon-send" id="send-btn" disabled="disabled">&nbsp 发送</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- 补录模板 模板类型 -->
    <div class="modal fade" id="myModal_add" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel_add">补录轧辊数据</h4>
            </div>
            <div class="modal-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label for="roll_add" class="col-sm-2 control-label">磨床</label>
                        <div class="col-sm-3">
                            <select id="roll_add" class="form-control" name="ROLL">
                                <option>1号磨床(HIECISE-MK84160)</option>
                                <option>2号磨床(HIECISE-MK84125-01)</option>
                                <option>3号磨床(HIECISE-MK84125-03)</option>
                                <option>4号磨床(HIECISE-MK84125-02)</option>
                            </select>
                        </div>
                        <label id="modal_c_woolification_label_add" class="col-sm-2 control-label">是否毛化标记</label>
                        <div class="col-sm-3">
                            <select id="modal_c_woolification_add" class="form-control" name="c_woolification" >
                                <option selected hidden disabled value="">选择是否毛化标记</option>
                                <option>0:未毛化</option>
                                <option>1:毛化</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="s_time_label_add" class="col-sm-2 control-label">开始时间</label>
                        <div class="col-sm-3">
                            <input type="datetime-local" step="1" class="start-time"  id="s_time_add" />
                        </div>
                        <label id="e_time_label_add" class="col-sm-2 control-label">结束时间</label>
                        <div class="col-sm-3">
                            <input type="datetime-local" step="1" class="start-time"  id="e_time_add" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="modal_c_frame_id_label_add" class="col-sm-2 control-label">机架号</label>
                        <div class="col-sm-3">
                                <select id="modal_c_frame_id_add" class="form-control" name="c_frame_id" >
                                    <option selected hidden disabled value="">选择机架号</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                        </div>
                        <label id="modal_c_roll_type_label_add" class="col-sm-2 control-label">轧辊类型</label>
                        <div class="col-sm-3">
                            <select id="modal_c_roll_type_add" class="form-control" name="c_roll_type" >
                                <option selected hidden disabled value="">选择轧辊类型</option>
                                <option>W:工作辊</option>
                                <option>B:支撑辊</option>
                                <option>M:中间辊</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="modal_c_roll_position_label_add" class="col-sm-2 control-label">轧辊位置</label>
                        <div class="col-sm-3">
                            <select id="modal_c_roll_position_add" class="form-control" name="c_roll_position" >
                                <option selected hidden disabled value="">选择轧辊位置</option>
                                <option>U:上辊</option>
                                <option>L:下辊</option>
                            </select>
                        </div>
                        <label id="modal_c_roll_material_label_add" class="col-sm-2 control-label">轧辊材质</label>
                        <div class="col-sm-3">
                            <select id="modal_c_roll_material_add" class="form-control" name="c_roll_material" >
                                <option>01:CastSteel</option>
                                <option>02:Ni-Cr</option>
                                <option>03:Hi-Cr</option>
                                <option>04:HSS(高速钢)</option>
                                <option selected>05:MC5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_c_diameter_before_add" class="col-sm-2 control-label">轧辊磨前直径(3位正数3位小数)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control"  id="modal_c_diameter_before_add">
                        </div>
                        <label for="modal_c_diameter_add" class="col-sm-2 control-label">轧辊磨后直径(3位正数3位小数)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control"  id="modal_c_diameter_add">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_c_crown_value" class="col-sm-2 control-label">凸度值(4位)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control"  id="modal_c_crown_value_add" value="0000">
                        </div>
                        <label id="modal_c_crown_symbol_label_add" class="col-sm-2 control-label">凸度正负标记</label>
                        <div class="col-sm-3">
                            <select id="modal_c_crown_symbol_add" class="form-control" name="c_crown_symbol" >
                                <option>1:负</option>
                                <option selected>2:正</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_c_roughness" class="col-sm-2 control-label">粗糙度(3位)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control"  id="modal_c_roughness_add">
                        </div>
                        <label for="modal_c_do" class="col-sm-2 control-label">表面加工方式</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" disabled="disabled" id="modal_c_do_add" value="磨削">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_c_side_bearing" class="col-sm-2 control-label">操作侧轴承号(8位)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="modal_c_side_bearing_add" list="typelist">
                            <datalist id="typelist"></datalist>
                        </div>
                        <label for="modal_c_drive_bearing" class="col-sm-2 control-label">驱动侧轴承号(8位)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="modal_c_drive_bearing_add" list="c_drive_bearing_list">
                            <datalist id="c_drive_bearing_list"></datalist>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" disabled="disabled" id="modal_c_id_add">
                        <input type="hidden" class="form-control" disabled="disabled" id="modal_index_add">
                        <label for="modal_c_roll_number" class="col-sm-2 control-label">轧辊编号(10位)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control"  id="modal_c_roll_number_add">
                        </div>
                        <label for="modal_c_pairing_roll" class="col-sm-2 control-label">配对辊号(10位)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="modal_c_pairing_roll_add">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_c_roundness_add" class="col-sm-2 control-label">圆度</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="modal_c_roundness_add">
                        </div>
                        <label for="modal_c_cylindricity_add" class="col-sm-2 control-label">圆柱度</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="modal_c_cylindricity_add">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_c_coaxiality_add" class="col-sm-2 control-label">同轴度</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="modal_c_coaxiality_add">
                        </div>
                        <label for="modal_c_error_add" class="col-sm-2 control-label">误差</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="modal_c_error_add">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_c_top_diameter" class="col-sm-2 control-label">锥形顶端直径(7位)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="modal_c_top_diameter_add" value="0000000">
                        </div>
                        <label for="modal_c_low_diameter" class="col-sm-2 control-label">锥形底端直径(7位)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="modal_c_low_diameter_add" value="0000000">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_c_cause" class="col-sm-2 control-label">磨削原因</label>
                        <div class="col-sm-3">
                            <select id="modal_c_cause_add" class="form-control" name="c_roll_position" >
                                <option selected hidden disabled value="">选择磨削原因</option>
                                <option>正常磨削</option>
                                <option>配辊磨削</option>
                                <option>事故加磨</option>
                                <option>断带无伤</option>
                                <option>辊印</option>
                                <option>划痕</option>
                                <option>划伤</option>
                                <option>小片粘钢</option>
                                <option>大片粘钢</option>
                                <option>轧辊烧伤</option>
                                <option>缠钢勒辊</option>
                            </select>
                        </div>
                        <label for="modal_c_result_detection" class="col-sm-2 control-label">探伤结果</label>
                        <div class="col-sm-3">
                                <textarea  type="text" class="form-control" id="modal_c_result_detection_add" >裂纹探伤结果:&#10;软点探伤结果:</textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-sm-7">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="sava-edit-btn_add">保存</button>
                </div>
                <div class="col-sm-5">
                    <button type="button" class="btn btn-success  glyphicon glyphicon-send" id="send-btn_add" disabled="disabled">&nbsp 发送</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- 导航栏 -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header" style="height: 60px; position: relative; margin: 0; padding: 0;">
            <button type="button" class="navbar-toggle " data-toggle="collapse"  data-target="#bs-example-navbar-collapse-1" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="#">
                    <img alt="Brand" src="../static/img/logo2.png" title="Buy Sell Rent Everyting" style="max-width:250px;margin-top:-8px;">
              </a>
              <a class="navbar-brand" href="#" style="padding-top: 20px; padding-bottom: 10px; height: 28px; color: #080808" >磨床数据采集发送系统</a>
          </div>
          <div  class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav " style="padding-top: 4px; padding-bottom: 10px; height: 28px;">
                <li><a href="from.html">磨削记录</a> </li>
                <li><a href="index.html">卸辊记录</a></li>
                <li><a href="uproll.html">装辊记录</a></li>
                <li class="active"><a href="supplement.html">补录</a></li>
                <li><a href="send_record.html">发送记录</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-sub  pull-right" style="padding-top: 4px; padding-bottom: 0; height: 28px;">
                <li><a href="#">Register</a> </li>
                <li><a href="#">Login</a> </li>
              </ul>
          </div>
      </div>
    </nav>
    <!-- 搜索栏 -->
    <nav class="navbar " style="text-align: center;">
        <div  class="navbar-form " role="search">
            <div class="form-group " >
<!--                <input type="text" class="form-control" placeholder="Search">             -->
                <lable>磨床:</lable>
                <select id="roll" class="form-control" name="ROLL">
                    <option>1号磨床(HIECISE-MK84160)</option>
                    <option>2号磨床(HIECISE-MK84125-01)</option>
                    <option>3号磨床(HIECISE-MK84125-03)</option>
                    <option>4号磨床(HIECISE-MK84125-02)</option>
                </select>
                <lable>开始时间:</lable>
                <input type="datetime-local" step="1" class="start-time"  id="s_time" />
                <lable>结束时间:</lable>
                <input type="datetime-local" step="1" class="end-time" id="e_time"/>
<!--                <input type="submit" value="提交" ></input>-->
                <input type="text" class="form-control" placeholder="轧辊号查询" id="Search_roll_nm">
                <button id="send" class="btn btn-default">搜索</button>
            </div>
            <div  class="form-group " >
                <button type="button" class="btn   glyphicon glyphicon-plus" id="add-but" >&nbsp 补录</button>
            </div>
        </div>
    </nav>
    <div style="width: 80%;margin: auto  auto auto auto">
        <div class="pull-left" style="padding-top: 10px">
         <span id="exportToolbar" style="display: inline-block" class="btn-group">
             <select id="sel_exportoption" class="form-control">
                 <option value="">导出当前页数据</option>
                 <option value="selected">导出选中数据</option>
             </select>
         </span>
        </div>
        <table id="tabledata" class="table table-striped" ></table>
    </div>
    <!-- COLLAPSIBLE NAVBAR -->

<script src="../static/srcnew/supplement.js"></script>
</body>
</html>