<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>磨床数据采集发送系统</title>
<!--    @*1、Jquery组件引用*@-->
    <script src="../static/js/jquery-3.5.1.min.js"></script>

<!--    @*2、bootstrap组件引用*@-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>

<!--    @*3、bootstrap table组件以及中文包的引用*@-->
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css">
    <script src="../static/js/bootstrap-table.min.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="../static/js/tableExport.min.js"></script>
    <script src="../static/js/bootstrap-table-export.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">磨床数据采集发送系统</a>
        </div>
        <div  class="navbar-form navbar-left" role="search">
            <div class="form-group">
<!--                <input type="text" class="form-control" placeholder="Search">-->
                <lable>磨床:</lable>
                <select id="roll" class="form-control" name="ROLL" >
                    <option>0号磨床(HIECISE-MK84160)</option>
                    <option>1号磨床(HIECISE-MK84125-01)</option>
                    <option>2号磨床(HIECISE-MK84125-02)</option>
                    <option>3号磨床(HIECISE-MK84125-03)</option>
                </select>
            </div>
            <div class="form-group">
                <lable>开始时间:</lable>
                <input type="datetime-local" step="1" class="start-time"  id="s_time" />
                <lable>结束时间:</lable>
                <input type="datetime-local" step="1" class="end-time" id="e_time"/>
<!--                <input type="submit" value="提交" ></input>-->
                <button id="send" class="btn btn-default">搜索</button>
            </div>
        </div>
        </div>
    </nav>
<!--{#     推荐用这种方式，比较灵活#}-->

<div style="width: 80%;margin: 0 auto">
     <div class="pull-left" style="padding-top: 10px">
         <span id="exportToolbar" style="display: inline-block" class="btn-group">
             <select id="sel_exportoption" class="form-control">
                 <option value="">导出当前页数据</option>
                 <option value="selected">导出选中数据</option>
             </select>
         </span>
     </div>
    <table id="tabledata" class="table " ></table>
</div>

<script src="../static/srcnew/text.js"></script>
</body>
</html>