<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>磨床数据采集发送系统</title>
<!--    @*1、Jquery组件引用*@-->
    <script src="../static/js/jquery-3.5.1.min.js"></script>

<!--    @*2、bootstrap组件引用*@-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>

<!--    @*3、bootstrap table组件以及中文包的引用*@-->
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css">
    <script src="../static/js/bootstrap-table.min.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="../static/js/tableExport.min.js"></script>
    <script src="../static/js/bootstrap-table-export.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">磨床数据采集发送系统</a>
        </div>
        <div  class="navbar-form navbar-left" role="search">
            <div class="form-group">
<!--                <input type="text" class="form-control" placeholder="Search">-->
                <lable>磨床:</lable>
                <select id="roll" class="form-control" name="ROLL" >
                    <option>0号磨床(HIECISE-MK84160)</option>
                    <option>1号磨床(HIECISE-MK84125-01)</option>
                    <option>2号磨床(HIECISE-MK84125-02)</option>
                    <option>3号磨床(HIECISE-MK84125-03)</option>
                </select>
            </div>
            <div class="form-group">
                <lable>开始时间:</lable>
                <input type="datetime-local" step="1" class="start-time"  id="s_time" />
                <lable>结束时间:</lable>
                <input type="datetime-local" step="1" class="end-time" id="e_time"/>
<!--                <input type="submit" value="提交" ></input>-->
                <button id="send" class="btn btn-default">搜索</button>
            </div>

        </div>

        </div>
    </nav>
<!--{#     推荐用这种方式，比较灵活#}-->

<div style="width: 80%;margin: 0 auto">
     <div class="pull-left" style="padding-top: 10px">
         <span id="exportToolbar" style="display: inline-block" class="btn-group">
             <select id="sel_exportoption" class="form-control">
                 <option value="">导出当前页数据</option>
                 <option value="all">导出全部数据</option>
                 <option value="selected">导出选中数据</option>
             </select>
         </span>
     </div>
    <table id="tabledata" class="table " ></table>
</div>
<!--{#     1.先定义一个空表#}-->
<!--{#     2.用js初始化表，并填充数据#}-->
<script type="text/javascript">

//返回开始时间
     function StartTime()
    {
        var now = new Date();

        var year = now.getFullYear();       //年
        var month = now.getMonth() + 1;     //月
        var day = now.getDate();            //日


        var clock = year + "-";

        if(month < 10)
            clock += "0";

        clock += month + "-";

        if(day < 10)
            clock += "0";

        clock += day + "T";

        clock += "00:00:00";
        return(clock);
    }
//返回结束日期
         function EndTime()
    {
        var now = new Date();

        var year = now.getFullYear();       //年
        var month = now.getMonth() + 1;     //月
        var day = now.getDate();            //日

        var hh = now.getHours();            //时
        var mm = now.getMinutes();          //分
        var ss = now.getSeconds() ;         //秒


        var clock = year + "-";

        if(month < 10)
            clock += "0";

        clock += month + "-";

        if(day < 10)
            clock += "0";

        clock += day + "T";

        if(hh < 10)
            clock += "0";

        clock += hh + ":";

        if (mm < 10)
            clock += '0';

        clock += mm + ":";

        if (ss < 10)
            clock += '0';

        clock += ss ;

        return(clock);
    }

    $(function(){

       $('#s_time').val(StartTime())
    });
    $(function(){

       $('#e_time').val(EndTime())
    });
    $(function () {
        $('#tabledata').bootstrapTable({
            url: '/jsondata',  // 请求数据源的路由
            dataType: "json",
            queryParams: function (params){
                return{
                    offset: params.offset, //页码
                    limit: params.limit,//页面大小
                    ROLL:$('#roll').val(), //磨床编号
                    StartTime:$('#s_time').val(), //开始时间
                    EndTime:$('#e_time').val(),//结束时间

                };
            },
            pagination: true, //前端处理分页
            singleSelect: false,//是否只能单选
            search: true, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            toolbar: '#toolbar', //工具按钮用哪个容器
            striped: true, //是否显示行间隔色
            cache: true, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pageNumber: 1, //初始化加载第10页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
            // strictSearch: true,//设置为 true启用 全匹配搜索，false为模糊搜索
            showColumns: true, //显示内容列下拉框
            showRefresh: true, //显示刷新按钮
            minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
            // clickToSelect: true, //设置true， 将在点击某行时，自动勾选rediobox 和 checkbox
            height: 500, //表格高度，如果没有设置height属性，表格自动根据记录条数决定表格高度#}
            uniqueId: "id", //每一行的唯一标识，一般为主键列
            showToggle: true, //是否显示详细视图和列表视图的切换按钮
            cardView: false, //是否显示详细视图
// <!--            detailView: true, //是否显示父子表，设置为 true 可以显示详细页面模式,在每行最前边显示+号#}-->
            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
            showExport: true, //导出按钮
            exportDataType: "all", //导出表格方式（默认basic：只导出当前页的表格数据；all：导出所有数据；selected：导出选中的数据）
            exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel'], //导出文件类型
            // {
            //     checkbox: true,
            //     visible: true,
            // },
            columns: [{
                checkbox: true,
                visible: true,
            },{
                field: 'c_id',
                title: '序号',
                align: 'center',  //对齐方式，居中
            }, {
                field: 'c_roll_number',
                title: '辊号',
                align: 'center'
            }, {
                field: 'c_program_number',
                title: '程序号',
                align: 'center',
            }, {
                field: 'c_operator',
                title: '操作者',
                align: 'center',
            }, {
                field: 'c_shift',
                title: '班次',
                align: 'center',
            }, {
                field: 'c_curve',
                title: '曲线',
                align: 'center',
            }, {
                field: 'c_diameter',
                title: '直径',
                align: 'center',
            }, {
                field: 'c_diameter_before',
                title: '磨前直径',
                align: 'center',
            }, {
                field: 'c_error',
                title: '误差',
                align: 'center',
            }, {
                field: 'c_coaxiality',
                title: '同轴度',
                align: 'center',
            }, {
                field: 'c_cylindricity',
                title: '圆柱度',
                align: 'center',
            }, {
                field: 'c_roundness',
                title: '圆度',
                align: 'center',
            }, {
                field: 'c_wheel_diameter',
                title: '砂轮直径',
                align: 'center',
            }, {
                field: 'c_actual_convexity',
                title: '实际凸度',
                align: 'center',
            }, {
                field: 'c_start_time',
                title: '开始时间',
                align: 'center',
            }, {
                field: 'c_end_time',
                title: '结束时间',
                align: 'center',
            }, {
                field: 'c_grinding_machine',
                title: '磨床',
                align: 'center',
            }, {
                field: 'c_date',
                title: '日期',
                align: 'center',
            }, {
                title: '操作',
                field: 'id',
                align: 'center',
                formatter: function (value, row) {
                    var e = '<a href="#" mce_href="#" onclick="edit(\'' + row.id + '\')">编辑</a> ';  //row.id为每行的id
                    var d = '<a href="#" mce_href="#" onclick="del(\'' + row.id + '\')">删除</a> ';
                    return e + d;
                }
            }
            ],
        });
    });

//设置下拉框选择事件，选中后就将对应属性设置到表格exportDataType中
//     $("#sel_exportoption").change(function () {
//         //刷新参数设置
//         $('#tabledata').bootstrapTable('refreshOptions', {
//             exportDataType: $(this).val()
//         });
//         console.log($(this).val())
//     });


//返回刷新后的数据
     $('#send').click(function(){
        // // var opt = '/reloda2/';
        // var url = '/reload2/';
        // if ($('#roll').val()) {
        //     url = url + '&' + $('#roll').val();
        // }
        // if ($('#s_time').val()) {
        //     url = url + '&' + $('#s_time').val();
        // }
        // if ($('#e_time').val()) {
        //     url = url + '&' + $('#e_time').val();
        // }
        // var opt = {
        //     url: url
        // };
        //
        // console.log(opt);
        // $("#table").bootstrapTable('refresh', opt);
         $.ajax({
             type: "GET",
             url: "/reload",
             data: {ROLL:$('#roll').val(), StartTime:$('#s_time').val(), EndTime:$('#e_time').val()},
             dataType: "json",
             success: function(data){
                 alert(JSON.stringify(data))
                console.log(JSON.stringify(data));
                 jsondata = JSON.stringify(data);
                // $("#table").bootstrapTable('refresh');
                $("#tabledata").bootstrapTable('load',data);
                             /*if (data={'data':'未搜索到数据'}){
                                 window.alert("未搜索到数据");
                             }
                             else {

                             }*/
                      }
         });
    });




</script>
</body>
</html>